<div class="mt-5">
    <!-- Overall Star Rating -->
    <h1>Overall Customer Rating</h1>
    <div id="overall-rating" data-rating="<%= overallRating %>">
      <div class="stars">
        <% for(let i = 0; i < 5; i++) { %>
          <div class="star-container">
            <i class="bi bi-star-fill"></i>
            <div class="partial-fill">
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  
  <div class="mt-3">
    <h1>Customer Feedback</h1>
  </div>
  

  <div class="reviews-list">
  <% reviews.forEach((review, index) => { %>
    
      <div class="review-item">
        <h3><%= review.name %></h3>
        <p>"<%= review.review_text %>"</p>
  
        <!-- Star Rating for this Customer -->
        <div class="customer-rating" data-rating="<%= review.rating %>" data-index="<%= index %>" >
          <div class="stars" style="font-size: 1rem;">
            <% for(let i = 0; i < 5; i++) { %>
              <div class="star-container">
                <i class="bi bi-star-fill"></i>
                <div class="partial-fill" >
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            <% } %>
          </div>
        </div>
  
        <span class="review-date"><%= new Date(review.review_date).toLocaleDateString('en-US') %></span>
      </div>
      <% }) %>
    </div>
  
  <script src="/js/product.js"></script>
  