<section class="top-section mb-5 mt-5 mt">
    <div class="row header">
      <div class="col-md-3">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h5>Total Orders</h5>
            <h2><% if(locals.totalOrders == 0){ %>
              <%= locals.totalOrders %>
               <% }else{ %>
               <%= locals.totalOrders.count %>
               <% } %></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5>Orders delivered</h5>
            <h2><% if(locals.delevered == 0){ %>
              <%= locals.delevered %>
               <% }else{ %>
               <%= locals.delevered.count %>
               <% } %>
            </h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger text-white">
          <div class="card-body">
            <h5>Orders Canceled</h5>
            <h2><% if(locals.canceled == 0){ %>
                <%= locals.canceled %>
                 <% }else{ %>
                 <%= locals.canceled.count %>
                 <% } %></h2>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-info text-white">
          <div class="card-body">
            <h5>Orders Income</h5>
            <h2><% if(locals.income == 0){ %>
              <%= locals.income %>
               <% }else{ %>
               <%= locals.income.sum %>
               <% } %></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="Orders-title mt-3" >
        <h2>Orders</h2>
    </div>
    <div class="reviews-list mt-3 p-3">
      <% if(locals.orders){ %>
        <% locals.orders.forEach(order =>{ %>
        <div class="review-item d-flex justify-content-evenly">
          <div class="text-center">
            <h6>ID</h6>
            <h5><%=order.order_id %></h5>
          </div>
            
            <div class="text-center">
              <h6>Total Amount</h6>
              <h5><%=order.total_amount %>$</h5>
            </div>
            <div class="text-center">
              <h6>Order Date</h6>
              <h5><%= new Date(order.order_date).toDateString()  %></h5>
            </div>
            
            <div class="text-center" >
              <h6>Status </h6>
              <h5 class="rounded"
              <% if (order.status === 'Delivered') { %>
                style="background-color:  greenyellow; padding: 3px; border-radius: 5px;"
              <% } else if (order.status === 'Pending') { %>
                style="background-color:  rgb(253, 249, 21); padding: 3px; border-radius: 5px;" 
              <% } else if (order.status === 'Canceled') { %>
                style="background-color:  rgb(216, 13, 13);"  
              <% } else { %>
                style="background-color:  greenyellow; padding: 3px; border-radius: 5px;"     
              <% } %>
              >
                  <%= order.status %>
              </h5>
            </div>
           
        </div>
        <% })} %>
        
    </div>