<div class="container my-4">
    <!-- Add Worker Button -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3>Workers</h3>
      <a href="/admin/worker/add?form=add"><button class="btn btn-primary">Add Worker</button></a>
    </div>
  
    <!-- Worker List -->
    <div class="worker-list">
        <!-- ======== -->
       <% if(locals.workersInfo){ %>
        <% workersInfo.forEach(worker =>{ if(worker.position == type){ %>
          <!-- Worker Item -->
          <div class="worker-item d-flex bg-white align-items-center justify-content-between p-3 mb-3 rounded shadow-sm <%= (type ===  worker.position ) ? "" : "d-none" %>" >
          <div class="d-flex align-items-center">
            <!-- Profile Photo -->
            <img src="<%= worker.image_url %>" alt="Profile" class="worker-photo rounded-circle">
            <!-- Worker Info -->
            <div class="worker-info ms-3">
              <h5 class="mb-0">worker ID</h5>
              <p class="text-muted mb-0">#<%= worker.worker_id %></p>
            </div>
            <div class="worker-info ms-3">
              <h5 class="mb-0"><%= worker.name %></h5>
              <p class="text-muted mb-0"><%= worker.position %></p>
            </div>
          
          <div class="worker-info ms-3">
            <h5 class="mb-0">salary</h5>
            <p class="text-muted mb-0"><%= worker.salary %></p>
          </div>
        </div>
          <!-- Edit Button -->
          <a href="/admin/worker/add?form=view&&id=<%= worker.worker_id %>"><button class="btn btn-outline-primary">View</button></a>
          </div>
     <%   }}); %>
      <% } %>
     <!-- ======= -->

    </div>
  </div>
  