<div class="large-screen">
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="schedule" viewBox="0 0 16 16">
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
     <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8"/>
    </symbol>
    <symbol id="home" viewBox="0 0 16 16">
      <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
    </symbol>
    <symbol id="speedometer2" viewBox="34 10 40 80">
    <path xmlns="http://www.w3.org/2000/svg" d="m88.684 81.105h-1.2266c1.0781-3.2539 0.82031-6.9336-1.0234-10.129-1.125-1.9453-2.7148-3.5117-4.6133-4.5898v-26.004c0-0.72656-0.58984-1.3164-1.3164-1.3164h-9.6758c-0.72656 0-1.3164 0.58984-1.3164 1.3164v26.008c-0.019531 0.011719-0.042969 0.023437-0.066407 0.035156-1.4023 0.80859-2.5859 1.8555-3.5312 3.0547v-20.434c0-0.72656-0.58984-1.3164-1.3164-1.3164h-9.6758c-0.72656 0-1.3164 0.58984-1.3164 1.3164v29.324c0 0.72656 0.58984 1.3164 1.3164 1.3164h8.5625c0.097656 0.47656 0.21875 0.94922 0.375 1.4141l-45.332 0.003907v-68.711c0-0.72656-0.58984-1.3164-1.3164-1.3164-0.72656 0-1.3164 0.58984-1.3164 1.3164v68.711h-4.5742c-0.72656 0-1.3164 0.58984-1.3164 1.3164s0.58984 1.3164 1.3164 1.3164h4.5742v4.5742c0 0.72656 0.58984 1.3164 1.3164 1.3164 0.72656 0 1.3164-0.58984 1.3164-1.3164v-4.5742h46.562c1.6719 2.7031 4.2656 4.6406 7.3516 5.4688 1.0703 0.28516 2.1562 0.42969 3.2383 0.42969 2.1562 0 4.2812-0.56641 6.1992-1.6758 1.8438-1.0625 3.3086-2.5312 4.3516-4.2227h2.4531c0.72656 0 1.3164-0.58984 1.3164-1.3164s-0.58984-1.3164-1.3164-1.3164zm-16.543-39.406h7.043v23.57c-0.10156-0.03125-0.20312-0.0625-0.30469-0.089843-2.2461-0.60156-4.5625-0.5625-6.7383 0.082031v-23.566zm-15.91 35.355v-26.691h7.043v25.734h0.003906c-0.027344 0.31641-0.046875 0.63672-0.050782 0.95703zm24.328 8.625c-2.2656 1.3125-4.9102 1.6602-7.4375 0.98047-2.5273-0.67969-4.6406-2.3008-5.9492-4.5664-2.7031-4.6836-1.0938-10.688 3.5859-13.391 1.5117-0.87109 3.1875-1.3203 4.8867-1.3203 0.85156 0 1.707 0.11328 2.5508 0.33984 2.5273 0.67969 4.6445 2.3008 5.9531 4.5664 1.3086 2.2695 1.6562 4.9102 0.97656 7.4375-0.67969 2.5273-2.3008 4.6406-4.5703 5.9531zm-57.457-5.9922h9.6758c0.72656 0 1.3164-0.58984 1.3164-1.3164v-14.977c0-0.72656-0.58984-1.3164-1.3164-1.3164h-9.6758c-0.72656 0-1.3164 0.58984-1.3164 1.3164v14.977c0 0.72656 0.58984 1.3164 1.3164 1.3164zm1.3203-14.977h7.043v12.344h-7.043zm14.586-9.4922c-0.72656 0-1.3164 0.58984-1.3164 1.3164v21.836c0 0.72656 0.58984 1.3164 1.3164 1.3164h9.6758c0.72656 0 1.3164-0.58984 1.3164-1.3164v-21.836c0-0.72656-0.58984-1.3164-1.3164-1.3164zm8.3633 21.836h-7.043v-19.203h7.043zm-4.1758-30.156 14.566-14.566c0.49219-0.49219 1.2852-0.51562 1.8086-0.050781l5.0664 4.5156 11.02-11.02h-2.6445c-0.72656 0-1.3164-0.58984-1.3164-1.3164 0-0.72656 0.58984-1.3164 1.3164-1.3164h5.8242c0.72656 0 1.3164 0.58984 1.3164 1.3164v5.8242c0 0.72656-0.58984 1.3164-1.3164 1.3164-0.72656 0-1.3164-0.58984-1.3164-1.3164v-2.6445l-11.898 11.898c-0.49219 0.49219-1.2852 0.51563-1.8086 0.050782l-5.0664-4.5156-14.566 14.566c-0.49219 0.49219-1.2852 0.51562-1.8086 0.050781l-5.0625-4.5195-13.273 13.27c-0.25781 0.25781-0.59375 0.38672-0.92969 0.38672-0.33594 0-0.67578-0.12891-0.92969-0.38672-0.51562-0.51562-0.51562-1.3477 0-1.8633l14.152-14.148c0.49219-0.49219 1.2852-0.51563 1.8086-0.050782l5.0625 4.5195zm-8.5547-7.2148c7.0898 0 12.855-5.7656 12.855-12.855v-1.3164h-11.539v-11.539h-1.3164c-7.0898 0-12.855 5.7656-12.855 12.855s5.7656 12.855 12.855 12.855zm10.141-11.539c-0.64844 5.0156-4.9453 8.9062-10.137 8.9062-2.1758 0-4.1953-0.6875-5.8516-1.8477l6.4336-7.0547h9.5547zm-11.457-11.457v9.6289l-6.4805 7.1094c-1.5117-1.7812-2.4219-4.0859-2.4219-6.5977 0-5.1914 3.8906-9.4883 8.9062-10.137zm17.785 6.5312c0-7.0898-5.7656-12.855-12.855-12.855h-1.3164v14.172h14.172zm-11.539-1.3164v-8.8203c4.5859 0.59375 8.2266 4.2344 8.8203 8.8203zm40.992 51.441c0.53516 0.48828 0.57422 1.3242 0.085938 1.8594l-5.2539 5.7539c-0.23828 0.26172-0.57422 0.41797-0.92969 0.42969h-0.042969c-0.33984 0-0.66797-0.13281-0.91406-0.36719l-2.7734-2.668c-0.52344-0.50391-0.53906-1.3398-0.035156-1.8633 0.50391-0.52344 1.3398-0.53906 1.8633-0.035156l1.7969 1.7305 4.3438-4.7539c0.48828-0.53516 1.3242-0.57422 1.8594-0.085938z"/>    <symbol id="table" viewBox="0 0 16 16">
      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"></path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </symbol>
    <symbol id="people" viewBox="0 0 16 16">
      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
    </symbol>
    <symbol id="grid" viewBox="0 0 16 16">
      <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"></path>
    </symbol>
    <symbol id="chick" viewBox="0 0 16 16">
      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
    </symbol>
    <symbol id="profit" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
    </symbol>
  </svg>   
  
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" >
    <a href="/" class="d-flex align-items-center mb-1 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4 fw-bold">Data Overview</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto activeLink sidebar-list mb-1 ">
      <li class="my-1">
        <a href="/admin/dashboard" class="nav-link link-body-emphasis <%= locals.enable== "dashboard"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="20" height="20"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/dailylog" class="nav-link link-body-emphasis position-relative <%= locals.enable== "dailylog"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chick"></use></svg>
          Daily logs
          <span id="log-indicator" class="d-none position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
        </a>
        
      </li>
      <li class="my-1">
        <a href="/admin/profit" class="nav-link link-body-emphasis <%= locals.enable=="profits"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#profit"></use></svg>
          Profits
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/orders" class="nav-link link-body-emphasis <%= locals.enable== "orders"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/schedules" class="nav-link link-body-emphasis <%= locals.enable== "schedule"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#schedule"></use></svg>
          Schedules
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/workers" class="nav-link link-body-emphasis <%= locals.enable== "workers"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Workers
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/products" class="nav-link link-body-emphasis <%= locals.enable== "product"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li class="my-1">
        <a href="/admin/customers" class="nav-link link-body-emphasis <%= locals.enable== "customers"? "active" : "" %>" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people"></use></svg>
          Customers
        </a>
      </li>
      
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="" id="sidebarimg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
        <li><a class="dropdown-item" href="/admin/profile">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io(); 


let pendingLogs = parseInt(localStorage.getItem('pendingLogs')) || 0;


const updateLogIndicator = () => {
    let notifi = document.getElementById("log-indicator").innerHTML= pendingLogs;
    const logIndicator = document.getElementById('log-indicator');
    if (pendingLogs > 0) {
        logIndicator.classList.remove('d-none');
    } else {
        logIndicator.classList.add('d-none');
    }
};


updateLogIndicator();


socket.on('new-log', () => {
    pendingLogs++;
    localStorage.setItem('pendingLogs', pendingLogs);
    updateLogIndicator(); 
});

socket.on('new-departure', () => {
    pendingLogs++;
    localStorage.setItem('pendingLogs', pendingLogs);
    updateLogIndicator(); 
});
socket.on('accepted-login', () => {
    if (pendingLogs > 0) {
        pendingLogs--;
        localStorage.setItem('pendingLogs', pendingLogs); 
        updateLogIndicator(); 
    }
});

socket.on('accepted-departure', () => {
    if (pendingLogs > 0) {
        pendingLogs--;
        localStorage.setItem('pendingLogs', pendingLogs); 
        updateLogIndicator(); 
    }
});

  fetch('/sidebarPhoto')
  .then(response => response.json())
  .then((data) => {
    const img= document.getElementById("sidebarimg");
    console.log(data)
    img.src = data;
  })
 </script>
  <!-- small screen  -->

    <div class=" d-none small-screen  flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">

      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a href="/admin/dashboard" class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
            <svg class="bi" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/dailylog" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chick"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/profit" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#profit"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/orders" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/products" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/customers" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people"></use></svg>
          </a>
        </li>
        <li>
          <a href="/admin/workers" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          </a>
        </li>
      </ul>
      <div class="dropdown border-top">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <img src=""  alt="mdo" width="24" height="24" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
 
  <!-- d-flex flex-column flex-shrink-0 bg-light -->